package ${package}.mapper.${moduleName};

import ${package}.model.${moduleName}.${className}Model;
import tk.mybatis.mapper.common.Mapper;

/**
 * ${comments} mapper
 *
 * @author ${author}
 * @date ${datetime}
 */
public interface ${className}Mapper extends Mapper<${className}Model> {

}
