package ${package}.${moduleName}.service;

import ${package}.${moduleName}.dto.request.${className}ReqDto;
import ${package}.${moduleName}.dto.response.${className}ResDto;

import java.util.List;

/**
 * ${comments}接口
 *
 * @author ${author}
 * @date ${datetime}
 */
public interface ${className}Service {

    /**
    * 列表
    */
    List<${className}ResDto> select(${className}ReqDto reqDto);

    /**
    * 查询
    */
    ${className}ResDto get(${className}ReqDto reqDto);

    /**
    * 添加
    */
    int insert(${className}ReqDto reqDto);

    /**
    * 修改
    */
    int update(${className}ReqDto reqDto);

    /**
    * 删除
    */
    int delete(${className}ReqDto reqDto);
}

