package ${package}.${moduleName}.service.impl;

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;

import ${package}.${moduleName}.dao.${className}Mapper;
import ${package}.${moduleName}.model.${className}Model;
import ${package}.${moduleName}.service.${className}Service;
import ${package}.${moduleName}.dto.request.${className}ReqDto;
import ${package}.${moduleName}.dto.response.${className}ResDto;

import java.util.List;
import java.util.ArrayList;

/**
 * ${comments}服务
 *
 * @author ${author}
 * @date ${datetime}
 */
@Service
public class ${className}ServiceImpl implements ${className}Service {

    @Autowired
    private ${className}Mapper ${classname}Mapper;

    /**
    * 列表
    */
    @Override
    public List<${className}ResDto> select(${className}ReqDto reqDto) {
        List<${className}Model> models = ${classname}Mapper.select(reqDto.to());
        List<${className}ResDto> result = new ArrayList<>(20);
        if (null != models) {
            for (${className}Model model : models) {
                result.add(${className}ResDto.get(model));
            }
        }
        return result;
    }

    /**
    * 查询
    */
    @Override
    public ${className}ResDto get(${className}ReqDto reqDto) {
        ${className}Model model = ${classname}Mapper.selectOne(reqDto.to());
        return ${className}ResDto.get(model);
    }

    /**
    * 添加
    */
    @Override
    public int insert(${className}ReqDto reqDto) {
        return ${classname}Mapper.insertSelective(reqDto.to());
    }

    /**
    * 修改
    */
    @Override
    public int update(${className}ReqDto reqDto) {
        return ${classname}Mapper.updateByPrimaryKeySelective(reqDto.to());
    }

    /**
    * 删除
    */
    @Override
    public int delete(${className}ReqDto reqDto) {
        return ${classname}Mapper.delete(reqDto.to());
    }

}
