package ${package}.service.${moduleName};

import ${package}.dto.request.${moduleName}.${className}ReqDto;
import ${package}.dto.response.${moduleName}.${className}ResDto;

import java.util.List;

/**
 * ${comments}接口
 *
 * @author ${author}
 * @date ${datetime}
 */
public interface ${className}Service {

    /**
    * ${comments}列表
    */
    List<${className}ResDto> select(${className}ReqDto reqDto);

    /**
    * ${comments}查询
    */
    ${className}ResDto get(${className}ReqDto reqDto);

    /**
    * ${comments}添加
    */
    int insert(${className}ReqDto reqDto);

    /**
    * ${comments}修改
    */
    int update(${className}ReqDto reqDto);

    /**
    * ${comments}删除
    */
    int delete(${className}ReqDto reqDto);
}

