<!DOCTYPE html>
<html>
<head>
<title>代码生成器</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/font-awesome.min.css">
<link rel="stylesheet" href="plugins/jqgrid/ui.jqgrid-bootstrap.css">
<link rel="stylesheet" href="css/main.css">
<script src="libs/jquery.min.js"></script>
<script src="plugins/layer/layer.js"></script>
<script src="libs/bootstrap.min.js"></script>
<script src="libs/vue.min.js"></script>
<script src="plugins/jqgrid/grid.locale-cn.js"></script>
<script src="plugins/jqgrid/jquery.jqGrid.min.js"></script>
<script src="js/common.js"></script>
</head>
<body>
<div id="rrapp">
	<div class="grid-btn">
		<div class="form-group col-sm-2">
			<input type="text" class="form-control" v-model="q.tableName" @keyup.enter="query" placeholder="表名">
		</div>
		<a class="btn btn-default" @click="query">查询</a>
		<a class="btn btn-primary" @click="generator"><i class="fa fa-file-code-o"></i>&nbsp;生成代码</a>

		<!-- 按钮触发模态框 -->
		<button class="btn btn-primary" data-toggle="modal" data-target="#dataSource" @click="getDataSourceConfig">数据源配置</button>
		<!-- 模态框（Modal） -->
		<div class="modal fade" id="dataSource" tabindex="-1" role="dialog" aria-labelledby="dataSourceLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="dataSourceLabel">数据源配置</h4>
					</div>
					<div class="modal-body">
						<table class="table table-bordered">
							<tbody>
							<tr>
								<td class="col-sm-2">主机名或IP</td>
								<td><input type="text" class="form-control" v-model="dataSource.ip" placeholder="主机名或IP"></td>
							</tr>
							<tr>
								<td>端口号</td>
								<td><input type="text" class="form-control" v-model="dataSource.port" placeholder="端口号"></td>
							</tr>
							<tr>
								<td>数据库</td>
								<td><input type="text" class="form-control" v-model="dataSource.database" placeholder="数据库"></td>
							</tr>
							<tr>
								<td>用户名</td>
								<td><input type="text" class="form-control" v-model="dataSource.userName" placeholder="用户名"></td>
							</tr>
							<tr>
								<td>密码</td>
								<td><input type="text" class="form-control" v-model="dataSource.password" placeholder="密码"></td>
							</tr>
							</tbody>
						</table>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
						<button type="button" class="btn btn-primary" @click="connectTest">连接测试</button>
						<button type="button" class="btn btn-primary" @click="saveDataSourceConfig">保存</button>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal -->
		</div>

		<!-- 按钮触发模态框 -->
		<button class="btn btn-primary" data-toggle="modal" data-target="#param" @click="getParam">参数配置</button>
		<!-- 模态框（Modal） -->
		<div class="modal fade" id="param" tabindex="-1" role="dialog" aria-labelledby="paramLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="paramLabel">参数配置</h4>
					</div>
					<div class="modal-body">
						<table class="table table-bordered">
							<tbody>
							<tr>
								<td class="col-sm-2">作者</td>
								<td><input type="text" class="form-control" v-model="param.author" placeholder="作者"></td>
							</tr>
							<tr>
								<td>模块名</td>
								<td><input type="text" class="form-control" v-model="param.module" placeholder="模块名"></td>
							</tr>
							<tr>
								<td>java包名</td>
								<td><input type="text" class="form-control" v-model="param.javaPackage" placeholder="java包名"></td>
							</tr>
							<tr>
								<td>表前缀</td>
								<td><input type="text" class="form-control" v-model="param.tablePrefix" placeholder="表前缀"></td>
							</tr>
							<tr>
								<td>主路径</td>
								<td><input type="text" class="form-control" v-model="param.mainPath" placeholder="主路径"></td>
							</tr>
							</tbody>
						</table>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
						<button type="button" class="btn btn-primary" @click="saveParam">保存</button>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal -->
		</div>

	</div>
    <table id="jqGrid"></table>
    <div id="jqGridPager"></div>
</div>

<script src="js/generator.js"></script>
</body>
</html>