<!DOCTYPE html>
<html>
<head>
<title>代码生成器</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/font-awesome.min.css">
<link rel="stylesheet" href="plugins/jqgrid/ui.jqgrid-bootstrap.css">
<link rel="stylesheet" href="css/main.css">
<script src="libs/jquery.min.js"></script>
<script src="plugins/layer/layer.js"></script>
<script src="libs/bootstrap.min.js"></script>
<script src="libs/vue.min.js"></script>
<script src="plugins/jqgrid/grid.locale-cn.js"></script>
<script src="plugins/jqgrid/jquery.jqGrid.min.js"></script>
<script src="js/common.js"></script>
</head>
<body>
<div id="rrapp">
	<div class="grid-btn">
		<div class="form-group col-sm-2">
			<select v-model="q.sourceId" class="form-control" @change="sourceChange">
				<option v-for="(item, index) in dataSourceList" :value="item.id">{{item.dataSourceName}}</option>
			</select>
		</div>
		<div class="form-group col-sm-2">
			<input type="text" class="form-control" v-model="q.tableName" @keyup.enter="query" placeholder="表名">
		</div>
		<a class="btn btn-default" @click="query">查询</a>

		<!-- 按钮触发模态框 -->
		<button class="btn btn-primary" @click="preGen">生成代码</button>
		<!-- 模态框（Modal） -->
		<div class="modal fade" id="genForm" tabindex="-1" role="dialog" aria-labelledby="genFormLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="genFormLabel">生成代码</h4>
					</div>
					<div class="modal-body" style="height:500px;overflow-y:auto;">
						<table class="table table-bordered">
							<tbody>
							<tr>
								<td class="col-sm-2">模板组</td>
								<td>
									<select v-model="genForm.groupId" class="form-control" @change="groupChange">
										<option v-for="(item, index) in groupList" :value="item.id">{{item.groupName}}</option>
									</select>
								</td>
							</tr>
							</tbody>
						</table>
						<table class="table table-bordered">
							<thead>
								<th>模板名</th>
								<th>生成路径</th>
								<th>文件名</th>
							</thead>
							<tbody>
							<tr v-for="item in templateList">
								<td>{{item.templateName}}</td>
								<td>{{item.packagePath}}</td>
								<td>{{item.fileName}}</td>
							</tr>
							</tbody>
						</table>
						<!--<table id="templateList"></table>-->
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
						<button type="button" class="btn btn-primary" @click="generator">生成代码</button>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal -->
		</div>
	</div>
    <table id="jqGrid"></table>
    <div id="jqGridPager"></div>
</div>

<script src="js/generator.js"></script>
</body>
</html>