<!DOCTYPE html>
<html>
<head>
<title>代码生成器</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/font-awesome.min.css">
<link rel="stylesheet" href="plugins/jqgrid/ui.jqgrid-bootstrap.css">
<link rel="stylesheet" href="css/main.css">
<script src="libs/jquery.min.js"></script>
<script src="plugins/layer/layer.js"></script>
<script src="libs/bootstrap.min.js"></script>
<script src="libs/vue.min.js"></script>
<script src="plugins/jqgrid/grid.locale-cn.js"></script>
<script src="plugins/jqgrid/jquery.jqGrid.min.js"></script>
<script src="js/common.js"></script>
</head>
<body>
<div id="rrapp">
	<div class="grid-btn">
		<div class="form-group col-sm-2">
			<select v-model="q.groupId" class="form-control">
				<option v-for="(item, index) in q.groupList" :value="item.id">{{item.name}}</option>
			</select>
		</div>
        <div class="form-group col-sm-2">
            <select v-model="q.type" class="form-control">
                <option v-for="(item, index) in q.typeList" :value="item.id">{{item.name}}</option>
            </select>
        </div>
		<div class="form-group col-sm-2">
			<input type="text" class="form-control" v-model="q.name" @keyup.enter="query" placeholder="模板名称">
		</div>
		<a class="btn btn-default" @click="query">查询</a>

		<!-- 按钮触发模态框 -->
		<button class="btn btn-primary" data-toggle="modal" data-target="#addForm">添加</button>
		<!-- 模态框（Modal） -->
		<div class="modal fade" id="addForm" tabindex="-1" role="dialog" aria-labelledby="addFormLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="addFormLabel">添加模板</h4>
					</div>

					<div class="modal-body">
						<table class="table table-bordered">
							<tbody>
							<tr>
								<td class="col-sm-2">模板组</td>
								<td>
									<select v-model="addForm.groupId" class="form-control">
										<option v-for="(item, index) in q.groupList" :value="item.id">{{item.name}}</option>
									</select>
								</td>
							</tr>
							<tr>
								<td class="col-sm-2">模板名称</td>
								<td><input type="text" class="form-control" v-model="addForm.templateName" placeholder="模板名称"></td>
							</tr>
							<tr>
								<td>类型</td>
								<td>
									<select v-model="addForm.templateType" class="form-control">
										<option v-for="(item, index) in typeList" :value="item.id">{{item.name}}</option>
									</select>
								</td>
							</tr>
							<tr>
								<td>生成包名</td>
								<td><input type="text" class="form-control" v-model="addForm.packagePath" placeholder="生成包名"></td>
							</tr>
							<tr>
								<td>文件名</td>
								<td><input type="text" class="form-control" v-model="addForm.fileName" placeholder="文件名"></td>
							</tr>
							</tbody>
						</table>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
						<button type="button" class="btn btn-primary" @click="insert">保存</button>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal -->
		</div>

		<div class="modal fade" id="editForm" tabindex="-1" role="dialog" aria-labelledby="editFormLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="editFormLabel">编辑模板</h4>
					</div>
					<div class="modal-body">
						<table class="table table-bordered">
							<tbody>
							<tr>
								<td class="col-sm-2">模板组</td>
								<td>
									<select v-model="editForm.groupId" class="form-control">
										<option v-for="(item, index) in groupList" :value="item.id">{{item.name}}</option>
									</select>
								</td>
							</tr>
							<tr>
								<td class="col-sm-2">模板名称</td>
								<td><input type="text" class="form-control" v-model="editForm.templateName" placeholder="模板名称"></td>
							</tr>
							<tr>
								<td>类型</td>
								<td>
									<select v-model="editForm.templateType" class="form-control">
										<option v-for="(item, index) in typeList" :value="item.id">{{item.name}}</option>
									</select>
								</td>
							</tr>
							<tr>
								<td>生成包名</td>
								<td><input type="text" class="form-control" v-model="editForm.packagePath" placeholder="生成包名"></td>
							</tr>
							<tr>
								<td>文件名</td>
								<td><input type="text" class="form-control" v-model="editForm.fileName" placeholder="文件名"></td>
							</tr>
							</tbody>
						</table>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
						<button type="button" class="btn btn-primary" @click="edit">保存</button>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal -->
		</div>

		<div class="modal fade bs-example-modal-lg" id="editContextForm" tabindex="-1" role="dialog" aria-labelledby="editContextFormLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="editContextFormLabel">编辑模板内容</h4>
					</div>
					<div class="modal-body">
						<table class="table table-bordered">
							<tbody>
							<tr>
								<td class="col-sm-2">模板名称</td>
								<td><input type="text" class="form-control" v-model="editContextForm.templateName" readonly placeholder="模板名称"></td>
							</tr>
							<tr>
								<td colspan="2"><textarea class="form-control" v-model="editContextForm.context" placeholder="内容" rows="25"></textarea>
							</tr>
							</tbody>
						</table>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
						<button type="button" class="btn btn-primary" @click="editContext">保存</button>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal -->
		</div>

	</div>
    <table id="jqGrid"></table>
    <div id="jqGridPager"></div>
</div>

<script src="js/template.js"></script>
</body>
</html>